RewriteEngine On

RewriteRule ^v0/swagger.json$ swagger.json [L]
RewriteRule ^v0/autoindex$ /cgi-bin/autoindex.cgi [L]

# Enable CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, api_key, Authorization"
